body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:387px;
}
#u1739 {
  position:absolute;
  left:32px;
  top:20px;
  width:688px;
  height:387px;
}
#u1740 {
  position:absolute;
  left:2px;
  top:186px;
  width:684px;
  visibility:hidden;
  word-wrap:break-word;
}
